// Back to Top

#back-to-top{
	text-align: center;
	line-height: 10px;
	color: $color-light;
	font-size: 46px;
	width: auto;
	height: 50px;
  padding: 0px 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
	z-index: $zindex-sticky;
	background-color: $color-primary;

	&:hover {
		color: $color-light;
		background-color: $color-dark;
	}
}

// Sticky

.sticky {
	&.sticky-on {
		position: fixed;
		top: 0;
		z-index: $zindex-sticky;
		width: 100%;
	}
}
