// VAR

$zindex-backdrop:          -2000;
$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1030 !default;
$zindex-sticky:            1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

// BREAK POINTS


$break-xlarge: "screen and (min-width: 1920px)";
$break-large: "screen and (min-width: 1366px)";
$break-lmedium: "screen and (min-width: 1024px)";
$break-pmedium: "screen and (min-width: 768px)";
$break-small: "screen and (min-width: 640px)";
$break-xsmall: "screen and (min-width: 414px)";
$break-xxsmall: "screen and (min-width: 360px)";


// MIXINS

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin box-shadow($left, $top, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $left $top $blur $spread $color;
    -moz-box-shadow:inset $left $top $blur $spread $color;
    box-shadow:inset $left $top $blur $spread $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $spread $color;
    -moz-box-shadow: $left $top $blur $spread $color;
    box-shadow: $left $top $blur $spread $color;
  }
}

@mixin opacity($opacity: 1) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
