
.warning-box-wrapper{
	position: fixed;
	padding: 7%;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.65);
	color: #000;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
	text-align: center;
	z-index: 40000;
	display: none;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	.warning-box{
		padding: 5% 2% 5% 2%;
		height: auto;
		background-color: #efefef;
		border: 6px dashed #000;
		border-radius: 15px;
		box-shadow: 20px 20px 4px 0px rgba(0,0,0,0.30);
		float: none;
		margin: 5% auto;
	}

	.blue-text{
		color: #2e7cdc;
	}

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) and (min-width : 199px) {
	.warning-box-wrapper {
		display: block;
		font-size: 22px;
		line-height: 110%;
	}
	.for-cell{
		display: block;
	}
	.for-desktop, .for-both{
		display: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) and (min-width : 319px) {
	.warning-box-wrapper {
		display: block;
		font-size: 23px;
		line-height: 110%;
	}
	.for-cell{
		display: block;
	}
	.for-desktop, .for-both{
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) and (min-width : 479px) {
	.warning-box-wrapper {
		display: block;
		font-size: 24px;
		line-height: 110%;
	}
	.for-cell{
		display: block;
	}
	.for-desktop, .for-both{
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) and (min-width : 767px) {
	.warning-box-wrapper {
		display: block;
		font-size: 25px;
		line-height: 110%;
	}
	.for-cell{
		display: block;
	}
	.for-desktop, .for-both{
		display: none;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1115px) and (min-width : 991px)  {
	.warning-box-wrapper {
		display: block;
		font-size: 20px;
		line-height: 110%;
	}
	.for-cell{
		display: none;
	}
	.for-desktop, .for-both{
		display: block;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) and (min-width : 1114px) {
	.warning-box-wrapper {
		display: block;
	}
	.for-cell, .for-both{
		display: none;
	}
}
